<h2>Login</h2>
{{#if hasError}}
  <p>{{ error }}</p>
{{/if}}

<form action="/api/sessions/login" method="POST">
  Email: <input type="text" name="email"><br><br>
  Contraseña: <input type="text" name="password"><br><br>

  <input type="submit" value="Iniciar sesión">

</form>

<a href="/recovery-password">Olvide mi contraseña</a>