<h2>Recuperar contraseña</h2>

<form action="/api/sessions/recovery-password" method="POST">
  Email: <input type="text" name="email"><br><br>
  Nueva contraseña: <input type="text" name="password"><br><br>

  <input type="submit" value="Resetear contraseña">

</form>