Vista principal del chat

<p style="border: 1px solid green" id="messagesContainer"></p>

<input type="text" id="messageInput">
<input type="button" value="Enviar" id="messageButton">


<p style="border: 1px solid red" id="notificationContainer"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
<script src="/js/index.js"></script>