<h2>Ingresa tu nombre para entrar al chat!</h2>

<form method="POST"  action="/login">
  <label for="name">Nombre:</label>
  <input type="text" name="name">

  <input type="submit" value="Enviar">
</form>