<form action="/api/pets" method="POST">
    <label for="name" >Nombre:</label><input type="text" name="name"><br>
    <label for="breed" >Raza:</label><input type="text" name="breed"><br>
    <label for="gender" >Genero:</label><input type="text" name="gender"><br>

    <input type="submit" value="Enviar">
  </form>