<h2>Login</h2>

<form action="/api/sessions/login" method="POST">
  Email: <input type="text" name="email"><br><br>
  Contraseña: <input type="password" name="password"><br><br>

  <input type="submit" value="Iniciar sesión">

</form>