<h2>Registro</h2>

<form action="/api/sessions/register" method="POST">
  Nombre: <input type="text" name="name"><br><br>
  Apellido: <input type="text" name="lastname"><br><br>
  Email: <input type="text" name="email"><br><br>
  Edad: <input type="text" name="age"><br><br>
  Contraseña: <input type="password" name="password"><br><br>

  <input type="submit" value="Registrar">

</form>